.studentsdata{
  text-align: center;
}
.block {
  display: flex;
  width: 16%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 8px;
}
.create{
  height: 20px;
  width: 50px;
}
