.container{
  text-align-all: center;
  font-max-size: large;
}
.col-10 {
  margin-left: 9%;
}
.card{
  margin-left: 28px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.ss{
  margin-bottom: 3%;
}
.submit{
  margin: 5px;
  float: left;
}
.cancel{
  margin:5px;
  float: right;
}
