<button type="button" class="close" aria-label="Close">
    <span aria-hidden="true" (click)="close()">X</span>
  </button>

    <div class="row">
      <div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">

            <form [formGroup]="studentForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="UserName" formControlName="userName" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email" type="text">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="firstName" placeholder="Fist Name" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="lastName" placeholder="Last Name" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="address" placeholder="Adress" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="City" formControlName="city" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Country" formControlName="country" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Postal Code" formControlName="postalcode" type="text">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button *ngIf="isEdit" (click)="updateSubmit()" type="Submit" class="btn btn-success submit"><span >Save</span></button>
              <button mat-raised-button *ngIf="!isEdit" (click)="onSubmit()" type="Submit" class="btn btn-success submit"><span >Submit</span></button>
              <button mat-raised-button type="button" (click)="close()" class="btn btn-danger cancel"><span>Cancel</span></button>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

